/* Coolors Exported Palette - https://coolors.co/f9f0d8-33482f-233a24-1d311d-263b28 */

/* CSS HEX */
--vanilla-cream: #F9F0D8ff;
--dark-spruce: #33482Fff;
--evergreen: #233A24ff;
--evergreen-2: #1D311Dff;
--evergreen-3: #263B28ff;

/* CSS HSL */
--vanilla-cream: hsla(44, 73%, 91%, 1);
--dark-spruce: hsla(110, 21%, 23%, 1);
--evergreen: hsla(123, 25%, 18%, 1);
--evergreen-2: hsla(120, 26%, 15%, 1);
--evergreen-3: hsla(126, 22%, 19%, 1);

/* SCSS HEX */
$vanilla-cream: #F9F0D8ff;
$dark-spruce: #33482Fff;
$evergreen: #233A24ff;
$evergreen-2: #1D311Dff;
$evergreen-3: #263B28ff;

/* SCSS HSL */
$vanilla-cream: hsla(44, 73%, 91%, 1);
$dark-spruce: hsla(110, 21%, 23%, 1);
$evergreen: hsla(123, 25%, 18%, 1);
$evergreen-2: hsla(120, 26%, 15%, 1);
$evergreen-3: hsla(126, 22%, 19%, 1);

/* SCSS RGB */
$vanilla-cream: rgba(249, 240, 216, 1);
$dark-spruce: rgba(51, 72, 47, 1);
$evergreen: rgba(35, 58, 36, 1);
$evergreen-2: rgba(29, 49, 29, 1);
$evergreen-3: rgba(38, 59, 40, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #F9F0D8ff, #33482Fff, #233A24ff, #1D311Dff, #263B28ff);
$gradient-right: linear-gradient(90deg, #F9F0D8ff, #33482Fff, #233A24ff, #1D311Dff, #263B28ff);
$gradient-bottom: linear-gradient(180deg, #F9F0D8ff, #33482Fff, #233A24ff, #1D311Dff, #263B28ff);
$gradient-left: linear-gradient(270deg, #F9F0D8ff, #33482Fff, #233A24ff, #1D311Dff, #263B28ff);
$gradient-top-right: linear-gradient(45deg, #F9F0D8ff, #33482Fff, #233A24ff, #1D311Dff, #263B28ff);
$gradient-bottom-right: linear-gradient(135deg, #F9F0D8ff, #33482Fff, #233A24ff, #1D311Dff, #263B28ff);
$gradient-top-left: linear-gradient(225deg, #F9F0D8ff, #33482Fff, #233A24ff, #1D311Dff, #263B28ff);
$gradient-bottom-left: linear-gradient(315deg, #F9F0D8ff, #33482Fff, #233A24ff, #1D311Dff, #263B28ff);
$gradient-radial: radial-gradient(#F9F0D8ff, #33482Fff, #233A24ff, #1D311Dff, #263B28ff);