/* Coolors Exported Palette - https://coolors.co/fef5d5-47593f-e2dbc5-fbf4dd-1f3923 */

/* CSS HEX */
--cornsilk: #FEF5D5ff;
--hunter-green: #47593Fff;
--sand-dune: #E2DBC5ff;
--cornsilk-2: #FBF4DDff;
--evergreen: #1F3923ff;

/* CSS HSL */
--cornsilk: hsla(47, 95%, 92%, 1);
--hunter-green: hsla(102, 17%, 30%, 1);
--sand-dune: hsla(46, 33%, 83%, 1);
--cornsilk-2: hsla(46, 79%, 93%, 1);
--evergreen: hsla(129, 30%, 17%, 1);

/* SCSS HEX */
$cornsilk: #FEF5D5ff;
$hunter-green: #47593Fff;
$sand-dune: #E2DBC5ff;
$cornsilk-2: #FBF4DDff;
$evergreen: #1F3923ff;

/* SCSS HSL */
$cornsilk: hsla(47, 95%, 92%, 1);
$hunter-green: hsla(102, 17%, 30%, 1);
$sand-dune: hsla(46, 33%, 83%, 1);
$cornsilk-2: hsla(46, 79%, 93%, 1);
$evergreen: hsla(129, 30%, 17%, 1);

/* SCSS RGB */
$cornsilk: rgba(254, 245, 213, 1);
$hunter-green: rgba(71, 89, 63, 1);
$sand-dune: rgba(226, 219, 197, 1);
$cornsilk-2: rgba(251, 244, 221, 1);
$evergreen: rgba(31, 57, 35, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #FEF5D5ff, #47593Fff, #E2DBC5ff, #FBF4DDff, #1F3923ff);
$gradient-right: linear-gradient(90deg, #FEF5D5ff, #47593Fff, #E2DBC5ff, #FBF4DDff, #1F3923ff);
$gradient-bottom: linear-gradient(180deg, #FEF5D5ff, #47593Fff, #E2DBC5ff, #FBF4DDff, #1F3923ff);
$gradient-left: linear-gradient(270deg, #FEF5D5ff, #47593Fff, #E2DBC5ff, #FBF4DDff, #1F3923ff);
$gradient-top-right: linear-gradient(45deg, #FEF5D5ff, #47593Fff, #E2DBC5ff, #FBF4DDff, #1F3923ff);
$gradient-bottom-right: linear-gradient(135deg, #FEF5D5ff, #47593Fff, #E2DBC5ff, #FBF4DDff, #1F3923ff);
$gradient-top-left: linear-gradient(225deg, #FEF5D5ff, #47593Fff, #E2DBC5ff, #FBF4DDff, #1F3923ff);
$gradient-bottom-left: linear-gradient(315deg, #FEF5D5ff, #47593Fff, #E2DBC5ff, #FBF4DDff, #1F3923ff);
$gradient-radial: radial-gradient(#FEF5D5ff, #47593Fff, #E2DBC5ff, #FBF4DDff, #1F3923ff);