/* Coolors Exported Palette - https://coolors.co/233a24-3a4d38-919481-656e5b-fef1d6 */

/* CSS HEX */
--evergreen: #233A24ff;
--dark-spruce: #3A4D38ff;
--grey-olive: #919481ff;
--ebony: #656E5Bff;
--papaya-whip: #FEF1D6ff;

/* CSS HSL */
--evergreen: hsla(123, 25%, 18%, 1);
--dark-spruce: hsla(114, 16%, 26%, 1);
--grey-olive: hsla(69, 8%, 54%, 1);
--ebony: hsla(88, 9%, 39%, 1);
--papaya-whip: hsla(40, 95%, 92%, 1);

/* SCSS HEX */
$evergreen: #233A24ff;
$dark-spruce: #3A4D38ff;
$grey-olive: #919481ff;
$ebony: #656E5Bff;
$papaya-whip: #FEF1D6ff;

/* SCSS HSL */
$evergreen: hsla(123, 25%, 18%, 1);
$dark-spruce: hsla(114, 16%, 26%, 1);
$grey-olive: hsla(69, 8%, 54%, 1);
$ebony: hsla(88, 9%, 39%, 1);
$papaya-whip: hsla(40, 95%, 92%, 1);

/* SCSS RGB */
$evergreen: rgba(35, 58, 36, 1);
$dark-spruce: rgba(58, 77, 56, 1);
$grey-olive: rgba(145, 148, 129, 1);
$ebony: rgba(101, 110, 91, 1);
$papaya-whip: rgba(254, 241, 214, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #233A24ff, #3A4D38ff, #919481ff, #656E5Bff, #FEF1D6ff);
$gradient-right: linear-gradient(90deg, #233A24ff, #3A4D38ff, #919481ff, #656E5Bff, #FEF1D6ff);
$gradient-bottom: linear-gradient(180deg, #233A24ff, #3A4D38ff, #919481ff, #656E5Bff, #FEF1D6ff);
$gradient-left: linear-gradient(270deg, #233A24ff, #3A4D38ff, #919481ff, #656E5Bff, #FEF1D6ff);
$gradient-top-right: linear-gradient(45deg, #233A24ff, #3A4D38ff, #919481ff, #656E5Bff, #FEF1D6ff);
$gradient-bottom-right: linear-gradient(135deg, #233A24ff, #3A4D38ff, #919481ff, #656E5Bff, #FEF1D6ff);
$gradient-top-left: linear-gradient(225deg, #233A24ff, #3A4D38ff, #919481ff, #656E5Bff, #FEF1D6ff);
$gradient-bottom-left: linear-gradient(315deg, #233A24ff, #3A4D38ff, #919481ff, #656E5Bff, #FEF1D6ff);
$gradient-radial: radial-gradient(#233A24ff, #3A4D38ff, #919481ff, #656E5Bff, #FEF1D6ff);