/* Coolors Exported Palette - https://coolors.co/415b38-f9f0d8-233a24-bdbca7-29412a */

/* CSS HEX */
--hunter-green: #415B38ff;
--vanilla-cream: #F9F0D8ff;
--evergreen: #233A24ff;
--ash-grey: #BDBCA7ff;
--dark-spruce: #29412Aff;

/* CSS HSL */
--hunter-green: hsla(105, 24%, 29%, 1);
--vanilla-cream: hsla(44, 73%, 91%, 1);
--evergreen: hsla(123, 25%, 18%, 1);
--ash-grey: hsla(57, 14%, 70%, 1);
--dark-spruce: hsla(122, 23%, 21%, 1);

/* SCSS HEX */
$hunter-green: #415B38ff;
$vanilla-cream: #F9F0D8ff;
$evergreen: #233A24ff;
$ash-grey: #BDBCA7ff;
$dark-spruce: #29412Aff;

/* SCSS HSL */
$hunter-green: hsla(105, 24%, 29%, 1);
$vanilla-cream: hsla(44, 73%, 91%, 1);
$evergreen: hsla(123, 25%, 18%, 1);
$ash-grey: hsla(57, 14%, 70%, 1);
$dark-spruce: hsla(122, 23%, 21%, 1);

/* SCSS RGB */
$hunter-green: rgba(65, 91, 56, 1);
$vanilla-cream: rgba(249, 240, 216, 1);
$evergreen: rgba(35, 58, 36, 1);
$ash-grey: rgba(189, 188, 167, 1);
$dark-spruce: rgba(41, 65, 42, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #415B38ff, #F9F0D8ff, #233A24ff, #BDBCA7ff, #29412Aff);
$gradient-right: linear-gradient(90deg, #415B38ff, #F9F0D8ff, #233A24ff, #BDBCA7ff, #29412Aff);
$gradient-bottom: linear-gradient(180deg, #415B38ff, #F9F0D8ff, #233A24ff, #BDBCA7ff, #29412Aff);
$gradient-left: linear-gradient(270deg, #415B38ff, #F9F0D8ff, #233A24ff, #BDBCA7ff, #29412Aff);
$gradient-top-right: linear-gradient(45deg, #415B38ff, #F9F0D8ff, #233A24ff, #BDBCA7ff, #29412Aff);
$gradient-bottom-right: linear-gradient(135deg, #415B38ff, #F9F0D8ff, #233A24ff, #BDBCA7ff, #29412Aff);
$gradient-top-left: linear-gradient(225deg, #415B38ff, #F9F0D8ff, #233A24ff, #BDBCA7ff, #29412Aff);
$gradient-bottom-left: linear-gradient(315deg, #415B38ff, #F9F0D8ff, #233A24ff, #BDBCA7ff, #29412Aff);
$gradient-radial: radial-gradient(#415B38ff, #F9F0D8ff, #233A24ff, #BDBCA7ff, #29412Aff);