/* Coolors Exported Palette - https://coolors.co/fef1d6-29412a-fef2d4-415b38-fcefd3 */

/* CSS HEX */
--papaya-whip: #FEF1D6ff;
--dark-spruce: #29412Aff;
--cornsilk: #FEF2D4ff;
--hunter-green: #415B38ff;
--papaya-whip-2: #FCEFD3ff;

/* CSS HSL */
--papaya-whip: hsla(40, 95%, 92%, 1);
--dark-spruce: hsla(122, 23%, 21%, 1);
--cornsilk: hsla(43, 95%, 91%, 1);
--hunter-green: hsla(105, 24%, 29%, 1);
--papaya-whip-2: hsla(41, 87%, 91%, 1);

/* SCSS HEX */
$papaya-whip: #FEF1D6ff;
$dark-spruce: #29412Aff;
$cornsilk: #FEF2D4ff;
$hunter-green: #415B38ff;
$papaya-whip-2: #FCEFD3ff;

/* SCSS HSL */
$papaya-whip: hsla(40, 95%, 92%, 1);
$dark-spruce: hsla(122, 23%, 21%, 1);
$cornsilk: hsla(43, 95%, 91%, 1);
$hunter-green: hsla(105, 24%, 29%, 1);
$papaya-whip-2: hsla(41, 87%, 91%, 1);

/* SCSS RGB */
$papaya-whip: rgba(254, 241, 214, 1);
$dark-spruce: rgba(41, 65, 42, 1);
$cornsilk: rgba(254, 242, 212, 1);
$hunter-green: rgba(65, 91, 56, 1);
$papaya-whip-2: rgba(252, 239, 211, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #FEF1D6ff, #29412Aff, #FEF2D4ff, #415B38ff, #FCEFD3ff);
$gradient-right: linear-gradient(90deg, #FEF1D6ff, #29412Aff, #FEF2D4ff, #415B38ff, #FCEFD3ff);
$gradient-bottom: linear-gradient(180deg, #FEF1D6ff, #29412Aff, #FEF2D4ff, #415B38ff, #FCEFD3ff);
$gradient-left: linear-gradient(270deg, #FEF1D6ff, #29412Aff, #FEF2D4ff, #415B38ff, #FCEFD3ff);
$gradient-top-right: linear-gradient(45deg, #FEF1D6ff, #29412Aff, #FEF2D4ff, #415B38ff, #FCEFD3ff);
$gradient-bottom-right: linear-gradient(135deg, #FEF1D6ff, #29412Aff, #FEF2D4ff, #415B38ff, #FCEFD3ff);
$gradient-top-left: linear-gradient(225deg, #FEF1D6ff, #29412Aff, #FEF2D4ff, #415B38ff, #FCEFD3ff);
$gradient-bottom-left: linear-gradient(315deg, #FEF1D6ff, #29412Aff, #FEF2D4ff, #415B38ff, #FCEFD3ff);
$gradient-radial: radial-gradient(#FEF1D6ff, #29412Aff, #FEF2D4ff, #415B38ff, #FCEFD3ff);