/* Coolors Exported Palette - https://coolors.co/656e5b-1d311d-47593f-fdf3d6-233a24 */

/* CSS HEX */
--ebony: #656E5Bff;
--evergreen: #1D311Dff;
--hunter-green: #47593Fff;
--cornsilk: #FDF3D6ff;
--evergreen-2: #233A24ff;

/* CSS HSL */
--ebony: hsla(88, 9%, 39%, 1);
--evergreen: hsla(120, 26%, 15%, 1);
--hunter-green: hsla(102, 17%, 30%, 1);
--cornsilk: hsla(45, 91%, 92%, 1);
--evergreen-2: hsla(123, 25%, 18%, 1);

/* SCSS HEX */
$ebony: #656E5Bff;
$evergreen: #1D311Dff;
$hunter-green: #47593Fff;
$cornsilk: #FDF3D6ff;
$evergreen-2: #233A24ff;

/* SCSS HSL */
$ebony: hsla(88, 9%, 39%, 1);
$evergreen: hsla(120, 26%, 15%, 1);
$hunter-green: hsla(102, 17%, 30%, 1);
$cornsilk: hsla(45, 91%, 92%, 1);
$evergreen-2: hsla(123, 25%, 18%, 1);

/* SCSS RGB */
$ebony: rgba(101, 110, 91, 1);
$evergreen: rgba(29, 49, 29, 1);
$hunter-green: rgba(71, 89, 63, 1);
$cornsilk: rgba(253, 243, 214, 1);
$evergreen-2: rgba(35, 58, 36, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #656E5Bff, #1D311Dff, #47593Fff, #FDF3D6ff, #233A24ff);
$gradient-right: linear-gradient(90deg, #656E5Bff, #1D311Dff, #47593Fff, #FDF3D6ff, #233A24ff);
$gradient-bottom: linear-gradient(180deg, #656E5Bff, #1D311Dff, #47593Fff, #FDF3D6ff, #233A24ff);
$gradient-left: linear-gradient(270deg, #656E5Bff, #1D311Dff, #47593Fff, #FDF3D6ff, #233A24ff);
$gradient-top-right: linear-gradient(45deg, #656E5Bff, #1D311Dff, #47593Fff, #FDF3D6ff, #233A24ff);
$gradient-bottom-right: linear-gradient(135deg, #656E5Bff, #1D311Dff, #47593Fff, #FDF3D6ff, #233A24ff);
$gradient-top-left: linear-gradient(225deg, #656E5Bff, #1D311Dff, #47593Fff, #FDF3D6ff, #233A24ff);
$gradient-bottom-left: linear-gradient(315deg, #656E5Bff, #1D311Dff, #47593Fff, #FDF3D6ff, #233A24ff);
$gradient-radial: radial-gradient(#656E5Bff, #1D311Dff, #47593Fff, #FDF3D6ff, #233A24ff);