/* Coolors Exported Palette - https://coolors.co/1d311d-fcefd3-29412a-e2dbc5-3a4d38 */

/* CSS HEX */
--evergreen: #1D311Dff;
--papaya-whip: #FCEFD3ff;
--dark-spruce: #29412Aff;
--sand-dune: #E2DBC5ff;
--dark-spruce-2: #3A4D38ff;

/* CSS HSL */
--evergreen: hsla(120, 26%, 15%, 1);
--papaya-whip: hsla(41, 87%, 91%, 1);
--dark-spruce: hsla(122, 23%, 21%, 1);
--sand-dune: hsla(46, 33%, 83%, 1);
--dark-spruce-2: hsla(114, 16%, 26%, 1);

/* SCSS HEX */
$evergreen: #1D311Dff;
$papaya-whip: #FCEFD3ff;
$dark-spruce: #29412Aff;
$sand-dune: #E2DBC5ff;
$dark-spruce-2: #3A4D38ff;

/* SCSS HSL */
$evergreen: hsla(120, 26%, 15%, 1);
$papaya-whip: hsla(41, 87%, 91%, 1);
$dark-spruce: hsla(122, 23%, 21%, 1);
$sand-dune: hsla(46, 33%, 83%, 1);
$dark-spruce-2: hsla(114, 16%, 26%, 1);

/* SCSS RGB */
$evergreen: rgba(29, 49, 29, 1);
$papaya-whip: rgba(252, 239, 211, 1);
$dark-spruce: rgba(41, 65, 42, 1);
$sand-dune: rgba(226, 219, 197, 1);
$dark-spruce-2: rgba(58, 77, 56, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #1D311Dff, #FCEFD3ff, #29412Aff, #E2DBC5ff, #3A4D38ff);
$gradient-right: linear-gradient(90deg, #1D311Dff, #FCEFD3ff, #29412Aff, #E2DBC5ff, #3A4D38ff);
$gradient-bottom: linear-gradient(180deg, #1D311Dff, #FCEFD3ff, #29412Aff, #E2DBC5ff, #3A4D38ff);
$gradient-left: linear-gradient(270deg, #1D311Dff, #FCEFD3ff, #29412Aff, #E2DBC5ff, #3A4D38ff);
$gradient-top-right: linear-gradient(45deg, #1D311Dff, #FCEFD3ff, #29412Aff, #E2DBC5ff, #3A4D38ff);
$gradient-bottom-right: linear-gradient(135deg, #1D311Dff, #FCEFD3ff, #29412Aff, #E2DBC5ff, #3A4D38ff);
$gradient-top-left: linear-gradient(225deg, #1D311Dff, #FCEFD3ff, #29412Aff, #E2DBC5ff, #3A4D38ff);
$gradient-bottom-left: linear-gradient(315deg, #1D311Dff, #FCEFD3ff, #29412Aff, #E2DBC5ff, #3A4D38ff);
$gradient-radial: radial-gradient(#1D311Dff, #FCEFD3ff, #29412Aff, #E2DBC5ff, #3A4D38ff);