/* Coolors Exported Palette - https://coolors.co/1d311d-415b38-bdbca7-fcefd3-263b28 */

/* CSS HEX */
--evergreen: #1D311Dff;
--hunter-green: #415B38ff;
--ash-grey: #BDBCA7ff;
--papaya-whip: #FCEFD3ff;
--evergreen-2: #263B28ff;

/* CSS HSL */
--evergreen: hsla(120, 26%, 15%, 1);
--hunter-green: hsla(105, 24%, 29%, 1);
--ash-grey: hsla(57, 14%, 70%, 1);
--papaya-whip: hsla(41, 87%, 91%, 1);
--evergreen-2: hsla(126, 22%, 19%, 1);

/* SCSS HEX */
$evergreen: #1D311Dff;
$hunter-green: #415B38ff;
$ash-grey: #BDBCA7ff;
$papaya-whip: #FCEFD3ff;
$evergreen-2: #263B28ff;

/* SCSS HSL */
$evergreen: hsla(120, 26%, 15%, 1);
$hunter-green: hsla(105, 24%, 29%, 1);
$ash-grey: hsla(57, 14%, 70%, 1);
$papaya-whip: hsla(41, 87%, 91%, 1);
$evergreen-2: hsla(126, 22%, 19%, 1);

/* SCSS RGB */
$evergreen: rgba(29, 49, 29, 1);
$hunter-green: rgba(65, 91, 56, 1);
$ash-grey: rgba(189, 188, 167, 1);
$papaya-whip: rgba(252, 239, 211, 1);
$evergreen-2: rgba(38, 59, 40, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #1D311Dff, #415B38ff, #BDBCA7ff, #FCEFD3ff, #263B28ff);
$gradient-right: linear-gradient(90deg, #1D311Dff, #415B38ff, #BDBCA7ff, #FCEFD3ff, #263B28ff);
$gradient-bottom: linear-gradient(180deg, #1D311Dff, #415B38ff, #BDBCA7ff, #FCEFD3ff, #263B28ff);
$gradient-left: linear-gradient(270deg, #1D311Dff, #415B38ff, #BDBCA7ff, #FCEFD3ff, #263B28ff);
$gradient-top-right: linear-gradient(45deg, #1D311Dff, #415B38ff, #BDBCA7ff, #FCEFD3ff, #263B28ff);
$gradient-bottom-right: linear-gradient(135deg, #1D311Dff, #415B38ff, #BDBCA7ff, #FCEFD3ff, #263B28ff);
$gradient-top-left: linear-gradient(225deg, #1D311Dff, #415B38ff, #BDBCA7ff, #FCEFD3ff, #263B28ff);
$gradient-bottom-left: linear-gradient(315deg, #1D311Dff, #415B38ff, #BDBCA7ff, #FCEFD3ff, #263B28ff);
$gradient-radial: radial-gradient(#1D311Dff, #415B38ff, #BDBCA7ff, #FCEFD3ff, #263B28ff);