/* Coolors Exported Palette - https://coolors.co/29412a-fef2d4-47593f-bdbca7-919481 */

/* CSS HEX */
--dark-spruce: #29412Aff;
--cornsilk: #FEF2D4ff;
--hunter-green: #47593Fff;
--ash-grey: #BDBCA7ff;
--grey-olive: #919481ff;

/* CSS HSL */
--dark-spruce: hsla(122, 23%, 21%, 1);
--cornsilk: hsla(43, 95%, 91%, 1);
--hunter-green: hsla(102, 17%, 30%, 1);
--ash-grey: hsla(57, 14%, 70%, 1);
--grey-olive: hsla(69, 8%, 54%, 1);

/* SCSS HEX */
$dark-spruce: #29412Aff;
$cornsilk: #FEF2D4ff;
$hunter-green: #47593Fff;
$ash-grey: #BDBCA7ff;
$grey-olive: #919481ff;

/* SCSS HSL */
$dark-spruce: hsla(122, 23%, 21%, 1);
$cornsilk: hsla(43, 95%, 91%, 1);
$hunter-green: hsla(102, 17%, 30%, 1);
$ash-grey: hsla(57, 14%, 70%, 1);
$grey-olive: hsla(69, 8%, 54%, 1);

/* SCSS RGB */
$dark-spruce: rgba(41, 65, 42, 1);
$cornsilk: rgba(254, 242, 212, 1);
$hunter-green: rgba(71, 89, 63, 1);
$ash-grey: rgba(189, 188, 167, 1);
$grey-olive: rgba(145, 148, 129, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #29412Aff, #FEF2D4ff, #47593Fff, #BDBCA7ff, #919481ff);
$gradient-right: linear-gradient(90deg, #29412Aff, #FEF2D4ff, #47593Fff, #BDBCA7ff, #919481ff);
$gradient-bottom: linear-gradient(180deg, #29412Aff, #FEF2D4ff, #47593Fff, #BDBCA7ff, #919481ff);
$gradient-left: linear-gradient(270deg, #29412Aff, #FEF2D4ff, #47593Fff, #BDBCA7ff, #919481ff);
$gradient-top-right: linear-gradient(45deg, #29412Aff, #FEF2D4ff, #47593Fff, #BDBCA7ff, #919481ff);
$gradient-bottom-right: linear-gradient(135deg, #29412Aff, #FEF2D4ff, #47593Fff, #BDBCA7ff, #919481ff);
$gradient-top-left: linear-gradient(225deg, #29412Aff, #FEF2D4ff, #47593Fff, #BDBCA7ff, #919481ff);
$gradient-bottom-left: linear-gradient(315deg, #29412Aff, #FEF2D4ff, #47593Fff, #BDBCA7ff, #919481ff);
$gradient-radial: radial-gradient(#29412Aff, #FEF2D4ff, #47593Fff, #BDBCA7ff, #919481ff);