/* Coolors Exported Palette - https://coolors.co/47593f-263b28-1d311d-29412a-415b38 */

/* CSS HEX */
--hunter-green: #47593Fff;
--evergreen: #263B28ff;
--evergreen-2: #1D311Dff;
--dark-spruce: #29412Aff;
--hunter-green-2: #415B38ff;

/* CSS HSL */
--hunter-green: hsla(102, 17%, 30%, 1);
--evergreen: hsla(126, 22%, 19%, 1);
--evergreen-2: hsla(120, 26%, 15%, 1);
--dark-spruce: hsla(122, 23%, 21%, 1);
--hunter-green-2: hsla(105, 24%, 29%, 1);

/* SCSS HEX */
$hunter-green: #47593Fff;
$evergreen: #263B28ff;
$evergreen-2: #1D311Dff;
$dark-spruce: #29412Aff;
$hunter-green-2: #415B38ff;

/* SCSS HSL */
$hunter-green: hsla(102, 17%, 30%, 1);
$evergreen: hsla(126, 22%, 19%, 1);
$evergreen-2: hsla(120, 26%, 15%, 1);
$dark-spruce: hsla(122, 23%, 21%, 1);
$hunter-green-2: hsla(105, 24%, 29%, 1);

/* SCSS RGB */
$hunter-green: rgba(71, 89, 63, 1);
$evergreen: rgba(38, 59, 40, 1);
$evergreen-2: rgba(29, 49, 29, 1);
$dark-spruce: rgba(41, 65, 42, 1);
$hunter-green-2: rgba(65, 91, 56, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #47593Fff, #263B28ff, #1D311Dff, #29412Aff, #415B38ff);
$gradient-right: linear-gradient(90deg, #47593Fff, #263B28ff, #1D311Dff, #29412Aff, #415B38ff);
$gradient-bottom: linear-gradient(180deg, #47593Fff, #263B28ff, #1D311Dff, #29412Aff, #415B38ff);
$gradient-left: linear-gradient(270deg, #47593Fff, #263B28ff, #1D311Dff, #29412Aff, #415B38ff);
$gradient-top-right: linear-gradient(45deg, #47593Fff, #263B28ff, #1D311Dff, #29412Aff, #415B38ff);
$gradient-bottom-right: linear-gradient(135deg, #47593Fff, #263B28ff, #1D311Dff, #29412Aff, #415B38ff);
$gradient-top-left: linear-gradient(225deg, #47593Fff, #263B28ff, #1D311Dff, #29412Aff, #415B38ff);
$gradient-bottom-left: linear-gradient(315deg, #47593Fff, #263B28ff, #1D311Dff, #29412Aff, #415B38ff);
$gradient-radial: radial-gradient(#47593Fff, #263B28ff, #1D311Dff, #29412Aff, #415B38ff);