/* Coolors Exported Palette - https://coolors.co/fcefd3-fef2d4-656e5b-3a4d38-33482f */

/* CSS HEX */
--papaya-whip: #FCEFD3ff;
--cornsilk: #FEF2D4ff;
--ebony: #656E5Bff;
--dark-spruce: #3A4D38ff;
--dark-spruce-2: #33482Fff;

/* CSS HSL */
--papaya-whip: hsla(41, 87%, 91%, 1);
--cornsilk: hsla(43, 95%, 91%, 1);
--ebony: hsla(88, 9%, 39%, 1);
--dark-spruce: hsla(114, 16%, 26%, 1);
--dark-spruce-2: hsla(110, 21%, 23%, 1);

/* SCSS HEX */
$papaya-whip: #FCEFD3ff;
$cornsilk: #FEF2D4ff;
$ebony: #656E5Bff;
$dark-spruce: #3A4D38ff;
$dark-spruce-2: #33482Fff;

/* SCSS HSL */
$papaya-whip: hsla(41, 87%, 91%, 1);
$cornsilk: hsla(43, 95%, 91%, 1);
$ebony: hsla(88, 9%, 39%, 1);
$dark-spruce: hsla(114, 16%, 26%, 1);
$dark-spruce-2: hsla(110, 21%, 23%, 1);

/* SCSS RGB */
$papaya-whip: rgba(252, 239, 211, 1);
$cornsilk: rgba(254, 242, 212, 1);
$ebony: rgba(101, 110, 91, 1);
$dark-spruce: rgba(58, 77, 56, 1);
$dark-spruce-2: rgba(51, 72, 47, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #FCEFD3ff, #FEF2D4ff, #656E5Bff, #3A4D38ff, #33482Fff);
$gradient-right: linear-gradient(90deg, #FCEFD3ff, #FEF2D4ff, #656E5Bff, #3A4D38ff, #33482Fff);
$gradient-bottom: linear-gradient(180deg, #FCEFD3ff, #FEF2D4ff, #656E5Bff, #3A4D38ff, #33482Fff);
$gradient-left: linear-gradient(270deg, #FCEFD3ff, #FEF2D4ff, #656E5Bff, #3A4D38ff, #33482Fff);
$gradient-top-right: linear-gradient(45deg, #FCEFD3ff, #FEF2D4ff, #656E5Bff, #3A4D38ff, #33482Fff);
$gradient-bottom-right: linear-gradient(135deg, #FCEFD3ff, #FEF2D4ff, #656E5Bff, #3A4D38ff, #33482Fff);
$gradient-top-left: linear-gradient(225deg, #FCEFD3ff, #FEF2D4ff, #656E5Bff, #3A4D38ff, #33482Fff);
$gradient-bottom-left: linear-gradient(315deg, #FCEFD3ff, #FEF2D4ff, #656E5Bff, #3A4D38ff, #33482Fff);
$gradient-radial: radial-gradient(#FCEFD3ff, #FEF2D4ff, #656E5Bff, #3A4D38ff, #33482Fff);