/* Coolors Exported Palette - https://coolors.co/33482f-e2dbc5-fef2d4-47593f-fef5d5 */

/* CSS HEX */
--dark-spruce: #33482Fff;
--sand-dune: #E2DBC5ff;
--cornsilk: #FEF2D4ff;
--hunter-green: #47593Fff;
--cornsilk-2: #FEF5D5ff;

/* CSS HSL */
--dark-spruce: hsla(110, 21%, 23%, 1);
--sand-dune: hsla(46, 33%, 83%, 1);
--cornsilk: hsla(43, 95%, 91%, 1);
--hunter-green: hsla(102, 17%, 30%, 1);
--cornsilk-2: hsla(47, 95%, 92%, 1);

/* SCSS HEX */
$dark-spruce: #33482Fff;
$sand-dune: #E2DBC5ff;
$cornsilk: #FEF2D4ff;
$hunter-green: #47593Fff;
$cornsilk-2: #FEF5D5ff;

/* SCSS HSL */
$dark-spruce: hsla(110, 21%, 23%, 1);
$sand-dune: hsla(46, 33%, 83%, 1);
$cornsilk: hsla(43, 95%, 91%, 1);
$hunter-green: hsla(102, 17%, 30%, 1);
$cornsilk-2: hsla(47, 95%, 92%, 1);

/* SCSS RGB */
$dark-spruce: rgba(51, 72, 47, 1);
$sand-dune: rgba(226, 219, 197, 1);
$cornsilk: rgba(254, 242, 212, 1);
$hunter-green: rgba(71, 89, 63, 1);
$cornsilk-2: rgba(254, 245, 213, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #33482Fff, #E2DBC5ff, #FEF2D4ff, #47593Fff, #FEF5D5ff);
$gradient-right: linear-gradient(90deg, #33482Fff, #E2DBC5ff, #FEF2D4ff, #47593Fff, #FEF5D5ff);
$gradient-bottom: linear-gradient(180deg, #33482Fff, #E2DBC5ff, #FEF2D4ff, #47593Fff, #FEF5D5ff);
$gradient-left: linear-gradient(270deg, #33482Fff, #E2DBC5ff, #FEF2D4ff, #47593Fff, #FEF5D5ff);
$gradient-top-right: linear-gradient(45deg, #33482Fff, #E2DBC5ff, #FEF2D4ff, #47593Fff, #FEF5D5ff);
$gradient-bottom-right: linear-gradient(135deg, #33482Fff, #E2DBC5ff, #FEF2D4ff, #47593Fff, #FEF5D5ff);
$gradient-top-left: linear-gradient(225deg, #33482Fff, #E2DBC5ff, #FEF2D4ff, #47593Fff, #FEF5D5ff);
$gradient-bottom-left: linear-gradient(315deg, #33482Fff, #E2DBC5ff, #FEF2D4ff, #47593Fff, #FEF5D5ff);
$gradient-radial: radial-gradient(#33482Fff, #E2DBC5ff, #FEF2D4ff, #47593Fff, #FEF5D5ff);